.center-side{
    width: 70%;
}

.wrap-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrap-menu li a{
    text-decoration: none;
    display: block;
    padding: 5px 10px;
    background: orange;
}
.wrap-menu li a:hover{
    background: orangered;
}
.sub-menu-1, .sub-menu-2{
    width: 100%;
    display: none;
    background: orchid;
}
.sub-menu-1{
    /* display: block; */
}
.sub-menu-1 ul, .sub-menu-2 ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.sub-menu-1 li a, .sub-menu-2 ul a{
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    background: orange;
}
.sub-menu-1 ul li a:hover, .sub-menu-2 ul li{
    background: orangered;
}
.text, .image, .b-video{
    font-family: 'Khmer', cursive;
    padding: 30px;
    box-sizing: border-box;
}
.an-image{
    border-left: 1px solid white;
}
.text p{
    font-size: 19px;
}
.image{
    width: 80%;
    margin: auto;
}