/* @import url('https://fonts.googleapis.com/css?family=Moul|Moulpali&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Khmer|Moulpali&display=swap');
@font-face {
    font-family: 'icomoon';
    src: url("../../lib/fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../../lib/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../lib/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../lib/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../lib/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }
body{
    position: relative;
    max-width: 100%;
    /* overflow-x: hidden; */
}
/* wrpper page */
#krb-page{
    width: 100%;
    position: relative;
    height: auto;
}
/* wrap left and right side */
#krb-aside{
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 50px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-right: 2px solid #6b6b6b3a;
}
/* wrpper left and right menu */
#krb-aside #krb-main-menu{
    padding-bottom: 20px;
}

/* fixed position of left and right side */
.fixed{
    position: fixed;
    /* overflow-y: scroll; */
}

.fixed.left-side {
    top: 0;
    left: 0;
    width : 15%;
    height: 100vh;
}
.center-side {
    position: absolute;
    width: 85%;
    top: 0;
    left: 15%; 
}
.content{
    width: 100%;
    height: 100%;
    padding: 0;
}
.fixed.right-side {
    top: 0;
    right: 0;
    width: 15%;
    background: rgb(214, 209, 209); height: 100vh;
    overflow-x: hidden;
    direction: rtl;
}

            /* set customize style of menu */
/* start */
            /* main menu */
#krb-aside #krb-main-menu ul{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

#krb-aside #krb-main-menu ul li{
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
}

#krb-aside #krb-main-menu ul li a{
    color: #020202ea;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Moulpali', cursive;
}

#krb-aside #krb-main-menu ul li a:hover{
    text-decoration: none;
}
    /* footer menu */
#krb-aside .krb-footer{
    margin-top: 20px;
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 15%;
    font-weight: 400;
    background-color: orchid;
    color: #020202ea;
    padding: 35px 20px;
    box-sizing: border-box;
}

#krb-aside .krb-footer span{
    display: block;
}

#krb-aside .krb-footer ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

#krb-aside .krb-footer ul li{
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}

#krb-aside .krb-footer ul li a{
    color: #020202be;
    padding: 4px;
}
/* end */
#krb-page #krb-aside-slide{
    width: 100%;
    /* height: 100vh; */
}

#krb-aside-slide .krb-bg-slide{
    width: 100%;
    height: 100vh;
    /* background: red; */
    position: relative;
}

#krb-aside-slide .krb-bg-slide img{
    width: 100%;
    height: 100%;
    float: left;
}

#krb-aside-slide .krb-bg-cover{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(48, 48, 48, 0.678); */
}
/* .krb-bg-cover #btn-menu{ */
    /* display: none; */
    /* position: absolute;
    top: 20px;
    left: 20px;
    font-size: 35px;
    color: white;
    cursor: pointer;
} */

/* query responsive */

/* Small devices (landscape phones, 576px and down) */
@media (max-width: 576px) { 
    /* .fixed.left-side{
        left: -50%;
        width: 50%;
        z-index: 9;
        background: white;
    }
    .center-side{
        width: 100%;
        left: 0;
        z-index: 8;
    } 
    #krb-aside-slide{
        background: turquoise;
    } 
    #btn-menu{
        display: block;
    } */
 }
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    /* .fixed.left-side{
        left: -50%;
        width: 50%;
        z-index: 9;
        background: white;
    }
    .center-side{
        width: 100%;
        left: 0;
        z-index: 8;
    } 
    #krb-aside-slide{
        background: seagreen;
    }
    #btn-menu{
        display: block;
    }  */
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    /* .fixed.left-side{
        left: -50%;
        width: 50%;
        z-index: 9;
        background: white;
    }
    .center-side{
        width: 100%;
        left: 0;
        z-index: 8;
    }
    #krb-aside-slide{
        background: violet;
    } 
    #btn-menu{
        display: block;
    }
     */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* .fixed.left-side{
        left: 0;
        width: 20%;
        z-index: 9;
        background: white;
    }
    .center-side{
        width: 80%;
        left: 20%;
        z-index: 8;
    }
    #krb-aside-slide{
        background: rgb(128, 51, 0);
    }
    #btn-menu{
        display: none;
    } */
 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    /* .fixed.left-side{
        left: 0;
        width: 15%;
        z-index: 9;
        background: white;
    }
    .center-side{
        width: 85%;
        left: 15%;
        z-index: 8;
    }
    #krb-aside-slide{
        background: red;
    }
    #btn-menu{
        display: none;
    } */
}
  