@import url('https://fonts.googleapis.com/css?family=Moul|Moulpali&display=swap');
@font-face {
    font-family: 'icomoon';
    src: url("../../lib/fonts/icomoon/icomoon.eot?srf3rx");
    src: url("../../lib/fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../../lib/fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../../lib/fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../../lib/fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
    font-weight: normal;
    font-style: normal;
  }


#krb-page{
    width: 100%;
    /* position: relative; */
    overflow: hidden;
}

#krb-page #krb-aside{
    padding-top: 5px;
    padding-bottom: 50px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 1001;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    border-right: 2px solid #6b6b6b3a;
}

.fixed.left-side>#krb-aside{
    left: 0;
    overflow-y: scroll;
    width: 15%;
}

.fixed.right-side>#krb-aside{
    right: 0;
    width: 15%;
    overflow-y: scroll;
    direction: rtl;
}
#krb-aside #krb-main-menu{
    padding-bottom: 20px;
}

#krb-aside #krb-main-menu ul{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

#krb-aside #krb-main-menu ul li{
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
}

#krb-aside #krb-main-menu ul li a{
    color: #020202ea;
    font-size: 25px;
    font-weight: 600;
    font-family: "Roboto", Arial, sans-serif;
}

#krb-aside #krb-main-menu ul li a:hover{
    text-decoration: none;
}

#krb-aside .krb-footer{
    margin-top: 20px;
    position: absolute;
    bottom: 40px;
    font-size: 14px;
    text-align: center;
    width: 100%;
    height: 15%;
    font-weight: 400;
    background-color: orchid;
    color: #020202ea;
    padding: 35px 20px;
    box-sizing: border-box;
}

#krb-aside .krb-footer span{
    display: block;
}

#krb-aside .krb-footer ul{
    padding: 0;
    margin: 0;
    text-align: center;
}

#krb-aside .krb-footer ul li{
    padding: 0;
    margin: 0;
    display: inline;
    list-style: none;
}

#krb-aside .krb-footer ul li a{
    color: #020202be;
    padding: 4px;
}
    /*  */
#krb-page #krb-aside-slide{
    position: absolute;
    top: 0;
    left: 15%;
    width: 70%;
    height: 100vh;
}

#krb-aside-slide .krb-bg-slide{
    width: 100%;
    height: 200vh;
    background: red !important;
    position: relative;
}

#krb-aside-slide .krb-bg-slide img{
    width: 100%;
    height: 100%;
    float: left;
}

#krb-aside-slide .krb-bg-cover{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    width: 85%;
    height: 100%;
    background: rgba(0, 0, 0, 0.678);
}
.fixed{
    position: fixed;
}

.fixed.left-side {
    left: 0;
    width : 15%;
    /* background: red;  */
    height: 100vh;
}
.center-side {
    position: absolute;
    width: 70%;
    top: 0;
    left: 15%;
    background: blue; height: 2000px;
}

.fixed.right-side {
    right: 0;
    width: 15%;
    background: rgb(214, 209, 209); height: 100vh;
}

#btn-menu{
    display: none;
    padding: 20px;
    font-size: 25px;
}

@media screen and (max-width: 768px) {
    .fixed.left-side>#krb-aside{
        display: none;
        overflow: hidden;
        width: 70%;
    }
    .fixed.right-side{
        display: none;
    }
    .center-side{
        width: 100%;
        left: 0;
    }

    #btn-menu{
        display: block;
    }

  }